@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);

@dark: #222;
@light: #eee;

@w-heavy: 800;
@w-normal: 400;
@w-light: 300;

.noise() {
  background-image: url('http://colons.co/noise.png');
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Open Sans", sans-serif;
  .noise();
  background-color: @dark;
  
  color: @light;
  text-transform: uppercase;

  @media (min-width: 70em) {font-size: 1.2em}
  @media (max-width: 55em) {font-size: .7em}
  @media (max-width: 40em) {font-size: .5em}
  @media (max-width: 30em) {font-size: .4em}
  @media (max-width: 22em) {
    font-size: .3em;
    header span::before {
      font-weight: @w-normal !important;
    }
  }

  header, footer {
    display: block;
  }

  header {
    position: relative;

    h1 {
      line-height: .8em;
      font-size: 10em;
      font-weight: @w-heavy;
      padding: .15em 0;

      .or {
        display: none;
      }

      > span {
        display: block;
        padding-left: .6em;
        position: relative;
        margin-top: .15em;

        &::before {
          content: 'or';
          text-transform: lowercase;
          font-size: .5em;
          line-height: .8em;
          opacity: .4;
          font-weight: @w-light;
          display: inline-block;
          width: 1.1em;
          margin-left: -1.1em;
        }

        &:first-child {
          margin-top: 0;

          &::before {
            content: none;
          }
        }

        > span {
          display: block;
        }
      }
    }

    > p {
      font-size: 4em;
      line-height: .8em;

      color: @dark;
      background-color: @light;
      .noise();

      margin-top: .1em;
      padding: .05em .1em .1em;
      text-align: right;

      font-weight: @w-heavy;
    }
  }

  > a {
    display: block;
    height: 25em;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-decoration: none;

    p {
      font-size: 4em;
      line-height: .8em;
      font-weight: @w-heavy;
      position: absolute;
      bottom: 0;
      left: 0;
      
      span {
        padding: .05em .1em .1em;
        display: block;
        float: left;
        clear: left;
        color: @dark;
        background-color: @light;
        .noise();
      }
    }

    &:hover {
      z-index: 1;

      span {
        color: @light;
        background-color: @dark;
      }
    }

    &#mftb {background-image: url('i/mftb.jpg')}
    &#pyrrha {background-image: url('i/pyrrha.jpg')}
    &#github {background-image: url('i/github.jpg')}
    &#opinions {background-image: url('i/opinions.jpg')}
    &#twitter {background-image: url('i/twitter.jpg')}
  }

  footer {
    height: 10em;
    position: relative;
    font-size: 1.5em;
    font-weight: @w-normal;

    background-image: url('http://colons.co/stamp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5em 5em;

    p {
      position: absolute;
      bottom: .3em;
      right: .5em;
      opacity: 0.001;

      &:hover {
        opacity: .5;
      }

      a {
        text-decoration: none;
        color: @light;
      }
    }
  }

  &.scrolling {
    pointer-events: none;
  }
}
