@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);

@dark: #222;
@light: #eee;

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Lato", sans-serif;
  background-color: @dark;
  background-image: url('http://colons.co/noise.png');
  color: @light;
  text-transform: uppercase;

  @media (min-width: 70em) {font-size: 1.2em}
  @media (max-width: 55em) {font-size: .7em}
  @media (max-width: 40em) {font-size: .5em}
  @media (max-width: 30em) {font-size: .4em}
  @media (max-width: 22em) {
    font-size: .3em;
    header span::before {
      font-weight: 400 !important;
    }
  }

  header, footer {
    display: block;
  }

  header {
    position: relative;

    h1 {
      line-height: .8em;
      font-size: 10em;
      font-weight: 900;

      span {
        display: block;
        padding-left: .6em;
        position: relative;

        &::before {
          content: 'or';
          text-transform: lowercase;
          font-size: .5em;
          opacity: .4;
          font-weight: 100;
          margin: 0 .1em 0 -1em;
          line-height: .8em;
        }

        &:first-child::before {
          content: none;
        }
      }
    }

    > p {
      font-size: 4em;
      line-height: .8em;

      color: @dark;
      background-color: @light;
      background-image: url('http://colons.co/noise.png');

      margin-top: .1em;
      padding: .1em;
      text-align: right;

      font-weight: 900;
    }
  }

  > a {
    display: block;
    height: 25em;
    background-position: center center;
    background-size: cover;
    position: relative;

    p {
      font-size: 4em;
      line-height: .8em;
      font-weight: 900;
      position: absolute;
      bottom: 0;
      left: 0;
      
      span {
        padding: .1em;
        display: block;
        float: left;
        clear: left;
        color: @dark;
        background-color: @light;
      }
    }

    &:hover {
      z-index: 1;

      span {
        color: @light;
        background-color: @dark;
      }
    }
  }

  footer {
    height: 10em;
    position: relative;
    font-size: 1.5em;
    font-weight: 900;

    background-image: url('http://colons.co/stamp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5em 5em;

    p {
      position: absolute;
      bottom: .3em;
      right: .5em;
      opacity: 0.001;

      &:hover {
        opacity: .5;
      }

      a {
        text-decoration: none;
        color: @light;
      }
    }
  }

  &.scrolling {
    pointer-events: none;
  }
}
